body 
{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 100px;
    
  
   
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 300px;
    gap: 100px;
    

}

.heroheader {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.herotext {
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.menu {
    display: flex;
}

.links {
    margin-left: auto;
    color: #e5e7eb;

}

.imghero {
    max-width: 650px;
    height: auto;
    margin-left: auto;
}

.hero {
    display: flex;
    padding-bottom: 100px;
    gap: 40px;
}

.herobutton {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 16px;
    margin: 4px 2px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.cards {
    display: flex;
    justify-content: center;
    column-gap: 10px;

}

.card {
 display: flex;
 flex-direction: column;
}

.cardimg {
    border: 5px solid blue;
    max-width: 200px;
    max-height: 200px;
}

.cardtext {
    max-width: 200px;
    text-align: center;
}

.infheader {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
   
    display: flex;
    flex-direction: column;
    padding: 100px 400px;

}

.quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    text-align: left;
}

.quoteauthor {
  margin-left: auto;
  font-size: 24px;
  font-weight: bold;
}